{% extends "masterTemplate.html" %}
{% block content %}
<h2>About REPS</h2>  
<p>
If you've stumbled across this by chance, or you are some lucky soul who has 
decided to help me in testing, you might be wondering what reps actually
is.  The official name of the application as it stands now is
<b>REPS - Exercise Management</b>, and, as the name implies, is an online
application to aid in managing your regular exercise routine, whatever that 
may be.  It is also intended to help people get started with a routine,
if they did not previously have one, and to stay on track.  The intent
is to start with very basic functionality and build on it.  This application 
is in pre-alpha stages (for non-nerds that means that it's still under heavy 
and constant development), and as such, you should not expect things to work
perfectly. 
</p>

<p>
With that, let me outline the basic functionality that exists as it currently
stands:
<ul>
<li>Users can create workouts, which consist of one or many exercises 
(currently only repetition exercises are supported, however support for any 
and all exercises will be added).</li>
<li>Users can print out workout sheets, so that they can record their workouts 
while they are at the gym, or wherever it is they workout.</li>
<li>Users can enter their workout data into REPS, which can be used to 
track their progress.</li>
</ul>
</p>
<p>
Keep in mind, this is only the very basic functionality, which once perfected,
will be built upon. As someone using REPS in its current state, I kindly ask
that you make suggestions and give feedback regarding the current processes
outlined above.  I would like to perfect these before moving on to more 
advanced functionality.  You can e-mail this feedback to me at 
<a href="mailto:reps.em@gmail.com">reps.em@gmail.com</a>.
</p>

<p>
If you're wondering what future functionality I have in mind, I have outlined 
it below:
<ul>
<li>Charting of progress using user defined criteria, including weight loss,
 weight gain, strength gain, increases in endurance, etc.</li>
 <li>Ability to compare and contrast the effectiveness of particular 
 routines by comparing progress made using one routine vs. another.</li>
 <li>The ability to see which muscle groups your workouts are targeting,
 and the intensity you are placing on these various muscle groups.</li>
 <li>A social networking aspect, albeit limited to keep the application 
 theme on track.</li>
</ul>
</p>
{% endblock %}
